.store-page {
    position: relative;
    background: linear-gradient(rgba(221, 42, 42, 0.5),rgba(212, 43, 43, 0.548)), url('../../../img/backgrounds/store.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
div.store-page .nav-bar .cart-icon {
    display: none;
}
div.store-page .nav-bar .basket-icon {
    display: initial;
    font-size: 2em;
    color: rgb(29, 29, 29);

}
/* item conatiner  */

/* width */
.store-items-container::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    scroll-behavior: smooth;
    left: 0px;
}

/* Track */
.store-items-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

/* Handle */
.store-items-container::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.392);
    border-radius: 10px;
}

/* Handle on hover */
.store-items-container::-webkit-scrollbar-thumb:hover {
    background: #999;
}
.store-items-container {
    position: absolute;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1rem;
    border-radius: 50px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 70%;
    width: 90%;
    background: none;
    backdrop-filter: none;  
}

@media only screen and (min-width: 700px) {
    .store-items-container {
        grid-template-columns: 1fr 1fr; 
    }
 }
 @media only screen and (min-width: 1024px) {
    .store-items-container {
        grid-template-columns: 1fr 1fr 1fr; 
    }
 }
 @media only screen and (min-width: 1280px) {
    .store-items-container {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
 }
/*backdrop-filter: blur(5px);    
background-color: rgba(0, 0, 0, .1); */