.floating_nav_bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.381);
    z-index: 100;
    border-radius: 70px;
    margin-top: 10px;
    transition: .5s;
}
/* kaki logo  */
.logo {
    margin:0 2rem 1rem;
    width: 100px;
}

.icon:hover {
    color: #000;
}
/* navegation links  */
.nav_link {
    color: #fff;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
    text-decoration: none;
    transition: .5s;
}
.nav_link:hover {
    color: #000;
}
/* search and store link icons */
.utility_icon:hover {
    color: rgb(255, 0, 0);
}