/* home section window */
.home_page_section {
    position: relative;
    overflow: hidden;
    margin: 0%;
    background: linear-gradient(#5a0101,#ff2626,#ff2626);
    height: 100vh;
}
    /* side nav menu */
    .side_menu {
        position: absolute;
        top: 0px;
        display: flex;
        height: 100%;
        background: rgba(255, 255, 255, 0.15);
        width: 5%;
        max-width: 80px;
        justify-content: center;
        align-items: center;
        }

    .icon {
        color: #fff;
        cursor: pointer;
        transition: .15s;
    }
    .icon:hover {
        color: #000;
    }
    /* utilities style  */
    .utilities_container {
        position: absolute;
        z-index: 1;
        top: 5%;
        left: 90%;
    }
    .utility_icon {
        padding-left: .5em;
        color: rgba(41, 39, 39, 0.801);
        transition: .3s;
    }
    .utility_icon:hover {
        color: #be1d1d;
    }
    /* under logo text style */
    .under_logo_text {
        position: absolute;
        cursor:default;
        color: #C1C1C1;
        font-size: 1em;
        padding-top: .75rem;
        padding-left: 1rem;
    }
    .decor_line_style  {
        position: absolute;
        height: 2.5rem;
        width: 0.5rem;
        background-color: rgba(255, 255, 255, 0.66);
        }
    /* home page links style */
    .home_links {
        margin: 6rem;
    }
    .home_links a{
        text-decoration: none;
        color: #fff;
        font-size: 1.4em;
        padding: 0 ;
        padding-right: .5em;
        transition: all 0.3s ease;
        border-bottom: 2px solid transparent;
    }
    .home_links a:hover{
        border-bottom: 2px solid #fdfdfd;
        padding-bottom: 5px;
    }
/* slogan of the company  */
#mainText {
    color: #fdfdfd;
    cursor:default;
    line-height: 1em;
    font-family: 'Fredericka the Great', cursive;
    font-size: 6em;
    margin-left: 6rem;
}
/* finnish logos */
.imgContainer {
    position: absolute;
    z-index: 2;
    top: 80%;
    left: 85%;
}