/* small pc resolution */
@media only screen and (max-width: 1024px) {
    .img_style {
        display: none;
    }
}

/* mobile version */
@media only screen and (max-width: 600px) {
    /* home section */
        .home_page_section {
            overflow: hidden;
        }
        .side_menu{
            width: 10%;
            left: 85%;
            height: 15%;
            background: 0;
        }
        .kaski_logo {
            margin: 0 0 0 1rem;
        }
        .under_text_container {
            margin: 1rem 0 0 1rem;
        }
        .utilities_container {
            left: 50%;
            font-size: 15px;
        }
        .utility_icon {
            color: white;
        }
        .home_links {
            display: none;
        }
        #mainText {
            font-size: 3em;
            margin-left: 2rem;
            margin-top: 5rem
        }
        .imgContainer {
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        }
        .imgContainer img {
            height: 80px;
            width: 80px;
        }
        /* overlay menu  */
        .overlay_content {
            width: 60%;
        }
        .overlay_content .menu_item{
            font-size: 25px;
            padding: 30px 8px 8px 25px;
        }
    /* services section */
        .services_section{
            height: 200vh;
        }
        .text{
            font-size: 4em;
        }
        .services-container{
            top: 10%;
        }
        .serv-box {

        }
        .serv-box p {
            height: 20px;
            padding: 0;
            margin-top: 10rem;
            border-bottom: 1px solid transparent;
        }
}   


/* store page  */

@media screen and (max-width: 728px) {
    /* mobile */
    /* navegation */
    .logo_container{
        margin-left: 0;
    }
    .static_nav_link {
        display: none;
    }
    .overlay_content {
        width: 100%;
    }
    /* store */
    .categories {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    select {
        font-size: 30px;
        width: 90vw;
        height: 50px;
    }
    .arrow_icon {
        position: absolute;
        color: rgb(255, 255, 255);
        left: 80%;
        top: 15%;
        transition: .3s ease-in-out;
        z-index: 0;
    }
    .store_items_container {

        position: relative;
        overflow-y: auto;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        padding: 1rem;
    
        background: none;
        border-radius: 50px;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 90;
        backdrop-filter: none;    
    }
}