/* overlay menu  */

.overlay {
    height: 100%; /* 100% Full-height */
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(17, 17, 17, 0.739); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: all 500ms ease; /* 0.5 second transition effect to slide in the sidenav */ 
}

.overlayContent {
    text-align: right;
    height: 100%;
    width: 20%;
    background-color: rgba(214, 18, 18, 0.897);
    transition: all 500ms ease;
}

.overlayContent .menuItem{
    text-align: left;
    padding: 20px 8px 8px 25px;
    padding: 20px 8px 8px 8px;
    text-decoration: none;
    font-size: 40px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlayContent .menuItem:hover {
    border-left: 6px solid #ffffff;
	background: rgba(150, 14, 14, 0.897);
}

.closeBtn:hover {
      color: #000;
  }