@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Fredericka+the+Great&family=Montserrat:wght@300;800&display=swap');
/*
font-family: 'Caveat', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Montserrat', sans-serif;
*/

.main-page {
    position: relative;
    margin: 0;
    background: rgb(165, 105, 83);
    scroll-behavior: smooth;
} 

/* mobile divices */
@media only screen and (min-width: 700px) {
    /* home section */
    div .home-section {
        background: linear-gradient( rgba(242, 30, 30, .6), rgba(121, 15, 15, .6)),url('../.././img/backgrounds/home.jpg');
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    .decor-text  span {
        margin-left: .5rem;
        padding-top: .5rem;
    }

    .home-section .decor-line {
        display: initial;
        background-color: rgb(255, 255, 255);
        width: .5em;
        height: 2em;
    }
    div .section-content p {
        font-size: 4em;
    }
    div .mobile-links-container {
        display: flex;
        justify-content: space-around;
    }
    
    /* services section  */

    div .services-section {
        background: linear-gradient(rgba(90, 2, 2, 0.4),rgba(255, 47, 47, 0.4)),url('../../img/backgrounds/home.jpg');
        background-size: cover;
        background-position: center;
    }
    div .services-section > p {
        font-size: 5em;
        margin: 0 0 1rem 0;
    }
    /* small gallery section  */
    div .small-gallery-section {
        background: url('../../img/backgrounds/gallery.jpg');
        background-size: cover;
        background-position: center;
    }

    :nth-child(1).gall-background-text {
        font-size: 5em;
        margin-bottom: 1rem;
    }
    div .img-container {
        height: 20rem;
    }
}