.details-window {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    background: #202020;
    box-shadow: 0 0 10px white;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
/* top section  */
.details-window header {
    position: relative;
    display: grid;
    background: linear-gradient(to bottom right,#C42F2F,#F65454);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 4rem;
    width: 100%;
    font-size: .5em;
    
}
.details-window h1 {
    font-size: 2.5em;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    padding: 1rem 0 .5rem 0;
    border-bottom: 3px solid white;
    animation: fade-in .6s ease-in-out;
}
.cls-details-btn {
    position: absolute;
    color: rgb(207, 200, 200);
    font-size: 2em;
    transform: translateY(80%);
    left: 90%;
}
/* divition  */

.details-divition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + .05px);
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(-1px);
}
.details-divition svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 40px;
}
.details-divition .shape-fill {fill: #202020;}
/* bottom section  */
    /* img section */
    .details-img-container {
        border-radius: 20px;
        margin: auto;
        margin-top: 1.5rem;
        height: 180px;
        width: 125px;
    }
    .color-selection {
        margin: auto;
        margin-top: .5rem;
        width: 150px;
        display: flex;
        justify-content: space-around;
    }
    .color-option {
        transition: .4s;
        border-radius: 15%;
        height: 20px;
        width: 20px;
        background-color: rgb(129, 133, 126);
    }
    .color-option:hover {
        box-shadow: 0 0 10px #fff;
    }
    /* text and actions */
        .details-window main p:nth-child(2) {
            text-align: left;
        }
        .details-window main p{
            font-size: 1em;
            margin: auto;
            display: block;
            max-width: 80%;
            
        }
        /* text */
        .details-window h2,.details-window h3 {
            font-size: 1em;
            margin-top: .5rem;
            margin-bottom: .2rem;
        }
        /* actions */
        .btns-wraper {
            display: grid;
            place-items:center;
            grid-gap: .5rem;
            margin-bottom: 1rem;
        }
        .btns-wraper .details-window-btn {
            width: 60%;
            height: 2rem;
            font-weight: bold;
            font-size: 1em;
        }
/* animations */
@keyframes fade-in {
    0% {opacity: 0;} 
    100% {opacity: 1;}
}
/* Queries */

@media screen and (min-width: 730px) {
    .details-window main {
        display: flex;
        justify-content: space-around;
    }
    .details-window main h3,.details-window main h2 {
        font-size: 1.5em;
    }
    .details-window main > :nth-child(2) {
        width: 60%;
        display: grid;
        grid-template-rows: .5fr 2fr 1fr 1fr;
    }
    .details-img-container {
        margin-top: 1.5rem;
        height: 200px;
        width: 150px;
    }
    .color-selection {
        margin-bottom: 1rem;
    }
    .btns-wraper{
        display: flex;
        justify-content: space-around;
    }
    .btns-wraper .details-window-btn {
        width: 40%;
    }
}
@media screen and (min-width: 1024px) {
    .details-window {
        width: 50%;
    }
}
@media screen and (min-width: 1280px) {
    .details-window {
        width: 40%;
    }
}